{
  "key": {
    "algo": "{{ key_algo }}",
    "size": {{ key_size }}
  },
  "names": [
    {
      "O": "etcd",
      "OU": "etcd Security",
      "L": "{{ city }}",
      "ST": "{{ province }}",
      "C": "{{ country }}"
    }
  ],
  "CN": "etcd-root-ca"
}